
#waybar {
    background-color: #282c34;
    color: #abb2bf;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

/* Module-specific styling */
#clock {
    padding: 0 10px;
    background-color: #3e4452;
}

#battery {
    padding: 0 10px;
    background-color: #61afef;
    color: #282c34;
}

/* Styling for custom modules */
#custom-arch_logo {
    padding: 0 10px;
    color: #e06c75;
}
