
#waybar {
    background-color: #282c34;
    color: #abb2bf;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#clock {
    padding: 0 10px;
}

/*#battery {
    padding: 0 px;
}*/

#pulseaudio {
    padding: 0 6px;
}


